body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 2px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
    color:rgb(255, 255, 255);
}

.chamada {
    background: rgb(255, 255, 255);
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 240px;
}

.clipes-aleatorios{
    gap: 10px;
     width: 1300px;height: 1500px;
     border: 2px solid #ffffff;
     cursor: pointer;
 
 }
 
 .clipes{
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
 }
 
 .clipes-aleatorios img {
 opacity: 0.5;
 object-fit: cover;
     transition: 1s ease;
 
 }
 .clipes-aleatorios img:hover {
  opacity: 1.0;
  border: 5px solid rgb(255, 255, 255);
     transform: scale(1.4);
 }

.clipes h2 {
color: rgb(255, 255, 255);
}

.icone{
   text-align: right;
    max-width: 90%;
    text-underline-offset: 20px;
}